DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.assets.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
